<%= simple_form_for(@subject) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, placeholder: "What is the name of the subject?" %>
    <%= f.input :year_group, collection: [7,8,9,10,11,12,:"9 and 10" ]%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
