<p id="notice"><%= notice %></p>

<h1>Listing Subjects for Year <%= params[:year] %></h1>

<ul>
  <% @subjects.each do |subject| %>
    <a href="<%= subject_path(subject) %>">
      <li><%= subject.name %></li>

      <!-- <%= link_to 'Show', posts_path(subject_id:subject.id) %> -->
    </a>

  <% end %>
</ul>

<%= link_to 'New Subject', new_subject_path %>
