<p id="notice"><%= notice %></p>

<% @posts.each do |post| %>

    <li><%= post.title %></li>
    <li><%= post.summary %></li>
    <li><%= post.resource_type %></li>
    <li><%= post.file_url %></li>
    <%= link_to "Add post",new_post_path(subject_id:subject.id)%></li>
    <!-- <%= link_to 'Edit', edit_post_path(post) %></li>
    <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></li> -->

<% end %>





<!-- <%= link_to 'Edit', edit_subject_path(@subject) %> |
<%= link_to 'Back', subjects_path %> -->
